*:focus{
	outline: none;
}

#dagon-navbar{
	background-color: #333333;
}

#dagon-body{
	background-color: #E8E8E8;
}

.dagon-header-content{
	background-image: url("/images/dagon-header-content-background-image.png");
    background-repeat: no-repeat;
    background-size: auto 100px;
}

.dagon-body-content{
	background-color: white;
}

.dagon-footer{
	background: rgba(0, 0, 0, .2);
}

dagon-title{
	font-size: 25pt;
}

.dagon-navbar-button{
	color: white;
}

.dagon-navbar-button.signup-btn{
	background-color: #999999;
}

.dagon-navbar-button:hover{
	background-color: black !important;
}

.dagon-menu-actived{
	background-color: black !important;
}

.dagon-button-space{
	border-left: 2px solid #E8E8E8;
}

.dagon-register-submit-btn-disable{
	background-color: #eeeeee;
}

.dagon-register-submit-btn:hover{
	background-color: #333333 !important;
	color: white !important;
}

.dagon-register-facebook-btn{
	background-color: #3B5998;
	color: white;
	border: 1px solid #3B5998;
}

.dagon-register-google-btn{
	background-color: #DA2F18;
	color: white;
	border: 1px solid #DA2F18;
}

.dagon-alternative-signup:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}

.dagon-alternative-signin:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}



.dagon-forget-password-label{
	color: red;
}

.dagon-forget-password-label:hover{
	color: skyblue;
}

.dagon-forget-password-container{
	border: 2px solid #E8E8E8;
}

.dagon-forgetpassword-submit-btn:hover{
	background-color: black !important;
}

.dagon-left-details{
	border-right: 2px solid #eeeeee;
}

.dagon-edit-details-field{
	border: none;
	background-color: #fff8e1;
}

.dagon-edit-details-field-select{
	border: none;
	background-color: #fff8e1;
}

.dagon-dropdown-menu-list:hover{
	background-color: #f5f5f5;
}

.dagon-bad-request-container{
	border: 2px solid #E8E8E8;
}

.dagon-bad-request-home-button{
	background-color: #689f38;
	color: white;
}

.dagon-bad-request-home-button:hover{
	background-color: #757575;
	color: white;
}

.dagon-loading-fullscreen{
	color: white;
	background: rgba(0, 0, 0, .8);
}

.dagon-login-form-container{
	color: black;
}
