#dagon-header, #dagon-navbar, #dagon-body, #dagon-footer{
	width: 100%;
}

#dagon-header{
	height: 100px;
}

#dagon-navbar{
	height: 50px;
}

#dagon-footer, .dagon-footer{
	height: 50px;
}

.dagon-header-content{
	height: 100px;
	padding: 10px;
}

.dagon-navbar-content{
	padding: 0px !important;
}

.dagon-footer-content{
	height: 50px;
}

.dagon-body-content.container{
	padding: 15px !important;
	min-height: 73vh;
}

#dagon-registration-container{
	min-height: 54vh;
}

.dagon-body-content-separator{
	height: 10px;
}

.dagon-navbar-button{
	display: inline-block;
	font-size: 11pt;
	padding: 15px 20px 15px 20px;
	margin: 0px;
	height: 50px;
}

.dagon-navbar-button.login-btn, .dagon-navbar-button.signup-btn{
	height: 35px;
	margin: 8px;
	padding: 7px 20px 7px 20px;
	border-radius: 20px;
	border: none;
	font-size: 11pt;
	float: right;
}

.dagon-navbar-button.theme-btn{
	height: 35px;
	width: 35px;
	margin: 7px;
	padding: 7px 11px 7px 11px;
	border-radius: 20px;
	font-size: 15px;
	float: right;
}

.dagon-register-submit-btn{
	height: 35px;
	width: 100%;
	margin: 5px;
	padding: 7px 10px 7px 10px;
	border-radius: 20px;
	font-size: 11pt;
	text-align: center;
	float: right;
	margin-top: 20px !important;
}

.dagon-register-submit-btn-disable{
	height: 35px;
	width: 100%;
	margin: 5px;
	padding: 7px 10px 7px 10px;
	border-radius: 20px;
	font-size: 11pt;
	text-align: center;
	float: right;
	margin-top: 20px !important;
}

.dagon-login-form-submit-btn{
	width: 100%;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.dagon-register-button-container{
	padding: 5px 50px 5px 50px;
	width: 100%;
	text-align: center;
}

.dagon-alternative-signup{
	height: 35px;
	padding: 7px 10px 7px 10px;
	border-radius: 20px;
	font-size: 11pt;
	margin: 10px;
}

.dagon-alternative-signin{
	height: 35px;
	padding: 7px 10px 7px 10px;
	border-radius: 20px;
	font-size: 11pt;
	margin: 5px;
}
.dagon-form-registration{
	margin: auto;
	float: none;
	width: 60%;
	min-width: 300px;
	position: relative;
	top: 8vh;
	text-align: center;
}

.dagon-registration-title{
	text-align: center;
}

.input-group-addon{
	text-align: left;
	min-width: 120px;
	width: 40%;
}

.form-control{
	width: 60%;
	min-width: 180px;
}

.input-group{
	width:100%;
	min-width: 300px;
}

.dagon-theme-platte{
	width: 30px;
	height: 30px;
	margin: 2px;
	display: inline-block;
}

.login-form{
	text-align: left;
}

.dagon-login-form-container{
	text-align: center;
	margin: 10px;
	width: 200px;
}

error{
	font-size: 200pt;
}
.dagon-error-page{
	text-align: center;
}

.dagon-forget-password-container{
	float: none;
	width: 600px;
	padding: 10px;
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}
.dagon-forget-password-field{
	width: 300px !important;
	float: none;
	margin: auto;
}
.dagon-forget-password-field .input-group-addon{
	width: 20%!important;
}

.dagon-forgetpassword-submit-btn{
	width: 200px;
	margin: auto;
	float: none;
	padding: 7px;
	border-radius: 20px;
}

.dagon-mail-confirmed-container{
	text-align: center;
	padding: 50px;
}

.dagon-error-image{
	width: 100%;
	height: auto;
}

.dagon-edit-user-container{
	padding-left: 20px;
	padding-right: 20px;
}

.dagon-add-user{
	float: right;
	margin: 10px;
}
.dagon-sidebar-menu-list{
	top: 0px;
	left: 0px;
	position: fixed;
	width: 300px;
	height: 100vh;
	padding: 20px;
	text-align: center;
	z-index: 2;
}

.dagon-sidebar-menu{
	font-size: 11pt;
	text-align: left;
	margin: 5px;
}

.dagon-sidebar-menu-list.ng-hide-add, .dagon-sidebar-menu-list.ng-hide-remove{
	transition: all linear 0.4s;
}

.dagon-sidebar-menu-list.ng-hide{
	left: -300px;
	opacity: 0;
}

.dagon-user-details-container{
	padding-left: 30px !important; 
	padding-right: 30px !important; 
}

.dagon-table-details td{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.dagon-table-details-label{
	text-align: left;
	vertical-align: text-top !important;
	width: 120px;
}

.dagon-table-details-double-dot{
	text-align: center;
	vertical-align: text-top !important;
}

.dagon-table-details-value{
	text-align: left;
	vertical-align: text-top !important;
}

.dagon-edit-details-field{
	padding: 0px !important;
	margin: 0px !important;
	width: 100%
}

.dagon-edit-details-field-select{
	padding: 0px !important;
	margin: 0px !important;
}

.dagon-save-button{
	float: right;
}

.dagon-dropdown-menu{
	display: inline-block;
}

.dagon-dropdown-menu-list{
	padding: 5px;
}

.dagon-bad-request-container{
	width: 500px;
	margin: 90px auto;
	float: none;
	padding: 20px;
	text-align: center;
}

.dagon-bad-request-container h2{
	margin-top: 0px !important;
}
.dagon-bad-request-home-button{
	padding: 10px;
	width: 300px;
	margin: auto;
	float: none;
}

.dagon-alert{
	margin: 5px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	transition: all linear 0.5s;
	z-index: 3;
}

.alert-danger.ng-hide{
	left: 550px !important;
} 

.alert-danger{
	margin: 5px !important;
	width: 500px;
}

.dagon-alert-close-button{
	float: right;
}

.dagon-check-email-icon{
	font-size: 30pt;
}

.dagon-loading-fullscreen{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	font-size: 18pt;
	text-align: center;
	padding-top: 45vh;
	z-index: 5;
}
