<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="google-signin-client_id" content="{{dagon_google_developer_id}}">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/sweetalert/themes/google/google.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/dagon_layout.css">
    <link rel="stylesheet" href="styles/dagon_color.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dagonAdminUiApp" ng-controller="IndexCtrl">
	<div id="fb-root"></div>
	{{cok}}
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <section id="dagon-header" ng-style="styles[style_pick]">
		<div class="container dagon-header-content">
			<h1>Dagang Online</h1>
		</div>
    </section>
	<section id="dagon-navbar">
		<div class="container dagon-navbar-content">
			<div class="dropdown dagon-dropdown-menu" ng-show="is_login">
				<div ng-click="page_state='menu'" ng-class="active_menu('menu')" class="dagon-navbar-button" type="button" data-toggle="dropdown">Hi, <b> {{user_name}} </b> !</div>
				<ul class="dropdown-menu" ng-click="page_state='menu'">
					<li class="dagon-dropdown-menu-list" ui-sref="/usermanage"><a><i class="fa fa-user" aria-hidden="true"></i> Manage User</a></li>
					<li class="dagon-dropdown-menu-list" ui-sref="/groupmanage"><a><i class="fa fa-users" aria-hidden="true"></i> Manage Group</a></li>
					<li class="dagon-dropdown-menu-list" ui-sref="/interfacemanage"><a>Manage Interface</a></li>
					<li class="dagon-dropdown-menu-list" ui-sref="/posfixmanage"><a>Manage Posfix Configuration</a></li>
					<li class="divider"></li>
					<li class="dagon-dropdown-menu-list" ng-click="do_logout()" ng-controller="LoginCtrl"><a><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
				</ul>
			</div>
			<div ui-sref="/home" ng-click="page_state='home'" ng-class="active_menu('home')" class="dagon-navbar-button">Home</div>
			
			<div ng-show="is_login" class="dagon-navbar-button theme-btn"  tooltip-placement="top" uib-tooltip="Themes" ng-style="styles[style_pick]" ng-click="" popover-placement="bottom" uib-popover-template="theme_popup.url" popover-trigger="outsideClick" popover-title="Themes" type="button"><i class="fa fa-th-large" aria-hidden="true"></i></div>
			<div ng-show="!is_login" ui-sref="/register" class="dagon-navbar-button signup-btn" ng-click="page_state='register'" ng-class="active_menu('register')">Sign Up</div>
			<div ng-show="!is_login" ng-click="" popover-is-open="login_popover_open" uib-popover-template="login_popup.url" popover-trigger="outsideClick" popover-placement="bottom" popover-title="Login" type="button" class="dropdown dagon-navbar-button login-btn" ng-style="styles[style_pick]">Sign In</div>
		</div>
	</section>
	<section id="dagon-body">
		<div class="dagon-body-content-separator"></div>
		<div class="container dagon-body-content">
			<div ui-view=""></div>
		</div>
		<div class="dagon-body-content-separator"></div>
	</section>

    <section id="dagon-footer" ng-style="styles[style_pick]">
		<div class="dagon-footer">
			<div class="container dagon-footer-content">
				
			</div>
		</div>
    </section>
    
	<div class="dagon-loading-fullscreen" ng-if="is_loading.status">
		<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span><br>
		{{is_loading.message}}
	</div>
    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="bower_components/angular-sweetalert/dist/ngSweetAlert.js"></script>
    <script src="bower_components/angular-sweetalert/dist/ngSweetAlert.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/HomeCtrl.js"></script>
        <script src="scripts/controllers/LoginCtrl.js"></script>
        <script src="scripts/controllers/ForgetPasswordCtrl.js"></script>
        <script src="scripts/controllers/IndexCtrl.js"></script>
        <script src="scripts/controllers/RegisterCtrl.js"></script>
        <script src="scripts/controllers/UserManageCtrl.js"></script>
        <script src="scripts/controllers/ConfirmationEmailCtrl.js"></script>
        <script src="scripts/services/SecurityServ.js"></script>
        <!-- endbuild -->
</body>
</html>
