<div class="dagon-bad-request-container">
	<h1>Error 400!</h1>
	<h2>Bad Request</h2>
	<hr>
	<p>It looks like you have a <b>BAD REQUEST 400</b>! Please return to the home page to continue.</p>
	<div ng-click="" ui-sref="/home" class="dagon-bad-request-home-button">Home</div>
</div>
