<div class="dagon-bad-request-container">
	<h1>Error 401!</h1>
	<h2>Unautorized</h2>
	<hr>
	<p>It looks like you have a <b>UNAUTORIZED 401</b>! Please return to the home page and login to continue.</p>
	<div ng-click="" ui-sref="/home" class="dagon-bad-request-home-button">Home</div>
</div>
