<div class="dagon-bad-request-container">
	<h1>Error 404!</h1>
	<h2>Page Not Found</h2>
	<hr>
	<p>It looks like the page that you access didn't available. Maybe this is not page that you're looking for! Please return to the home page to continue.</p>
	<div ng-click="" ui-sref="/home" class="dagon-bad-request-home-button">Home</div>
</div>
	
