<div class="dagon-mail-confirmed-container">
	<h2>Your Registration Process Almost Complete!</h2>
	<h3>Please check your email to confirm your email address.</h3>
	<font class="dagon-check-email-icon"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></font>
	<p>We already send a confirmation email to <a href="{{user_email.link}}"><b>{{user_email.address}}</b></a>, please check your email account!</p>
	<br>
</div>
