<div ng-if="confirmation_status != null">
	<div class="dagon-mail-confirmed-container" ng-if="confirmation_status.status">
		<h2>Thank You!</h2>
		<h3>Your email has been confirmed.</h3>
		<img src="/images/emailConfirmed.png"/>
	</div>
	<div class="dagon-bad-request-container" ng-if="!confirmation_status.status">
		<h1>Confirmation Error!</h1>
		<hr>
		<p>{{confirmation_status.message}}</p>
	</div>
</div>
