<div class="dagon-forget-password-container">
	<h2>Trouble accessing your account?</h2>
	<h6>Forgot your password? Enter your login email below. We will send you an email message with a link to reset your password.</h6>
	<hr>
	<div class="dagon-forget-password-field input-group">
		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</span>
		<input type="email" class="form-control" placeholder="Enter email" aria-describedby="basic-addon1">
	</div>
	<hr>
	<div ng-click="" class="dagon-forgetpassword-submit-btn" ng-style="styles[style_pick]">Reset your password</div>
</div>
