<div class="dagon-login-form-container" ng-controller="LoginCtrl">
	<form class="login-form">
		<div class="form-group">
			<input ng-model="request_data.user_email" type="email" class="form-control" id="email" placeholder="Email">
		</div>
		<div class="form-group">
			<input ng-model="request_data.user_password" type="password" class="form-control" id="pwd" placeholder="Password">
		</div>
		<div class="checkbox">
			<label><input type="checkbox"> Remember me</label>
		</div>
		<button ng-click="do_login(request_data)" class="btn btn-default dagon-login-form-submit-btn">Sign in</button>
	</form>
	<h6 ui-sref="/forgetpassword" ng-click="toggle_login_popover()" class="dagon-forget-password-label">Forget password?</h6>
	or, sign in with
	<div ng-click="do_facebook_login()" class="dagon-alternative-signin dagon-register-facebook-btn"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</div>
	<div ng-click="" class="dagon-alternative-signin dagon-register-google-btn"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</div>
</div>

