<div ng-click="page_state='menu'">
	<div ng-click="" ui-sref="/usermanage" class="dagon-sidebar-menu">Manage User</div>
	<div ng-click="" ui-sref="/groupmanage" class="dagon-sidebar-menu">Manage Group</div>
	<div ng-click="" ui-sref="/interfacemanage" class="dagon-sidebar-menu">Manage Interface</div>
	<div ng-click="" ui-sref="/posfixmanage" class="dagon-sidebar-menu">Manage Posfix Configuration</div>
</div>
