<div ng-show="!is_complete_registration" class="dagon-registration-title"><dagon-title>&nbsp;&nbsp;&nbsp;REGISTRATION</dagon-title></div>
<br>
<div ng-show="!is_complete_registration" id="dagon-registration-container" class="row">
	<div class="col-sm-6 dagon-register-form-container">
		<form class="dagon-form-registration" role="form">
			<h5>Fill the field bellow to complete your registration.</h5>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i> Full name</span>
				<input  type="text" ng-model="request_data.user_real_name" class="form-control" placeholder="Enter full name" aria-describedby="basic-addon1">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</span>
				<input  type="email" ng-model="request_data.user_email" class="form-control" placeholder="Enter email" aria-describedby="basic-addon1">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i> Password</span>
				<input  type="password" ng-model="request_data.user_password"class="form-control" placeholder="Enter password" aria-describedby="basic-addon1">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i> Re password</span>
				<input  type="password" ng-model="request_data.user_password_retype" class="form-control" placeholder="Re-Enter password" aria-describedby="basic-addon1">
			</div>
			<br>
			<h5><i>By clicking the Sign Up button, you agree with our terms and conditions.</i></h5>
			<div ng-click="do_validation_params_and_registration(request_data)" class="dagon-register-submit-btn" ng-style="styles[style_pick]">Sign Up</div>
		</form>
	</div>
	<div class="col-sm-6">
		<div ng-style="button_space" class="dagon-button-space"></div>
		<div class="dagon-register-button-container">
			<p>or<br>Signup using social media account.</p>
			<div ng-click="do_registration_facebook()" class="dagon-alternative-signup dagon-register-facebook-btn"><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp; Sign up with Facebook</div>
			<div ng-click="do_registration_google_plus()" class="dagon-alternative-signup dagon-register-google-btn"><i class="fa fa-google-plus" aria-hidden="true"></i> &nbsp;&nbsp; Sign up with Google+</div>
		</div>
		<div ng-style="button_space" class="dagon-button-space"></div>
	</div>
</div>

<div class="dagon-alert">
	<div class="alert alert-danger" ng-show="error_message.user_real_name">
	  <strong>Error!</strong> {{error_message.user_real_name}}
	  <span class="dagon-alert-close-button" ng-click="error_message.user_real_name = null"><i class="fa fa-times" aria-hidden="true"></i></span>
	</div>

	<div class="alert alert-danger" ng-show="error_message.user_email">
	  <strong>Error!</strong> {{error_message.user_email}}
	  <span class="dagon-alert-close-button" ng-click="error_message.user_email = null"><i class="fa fa-times" aria-hidden="true"></i></span>
	</div>
	
	<div class="alert alert-danger" ng-show="error_message.user_password">
	  <strong>Error!</strong> {{error_message.user_password}}
	  <span class="dagon-alert-close-button" ng-click="error_message.user_password = null"><i class="fa fa-times" aria-hidden="true"></i></span>
	</div>
	<div class="alert alert-danger" ng-show="error_message.user_password_retype">
	  <strong>Error!</strong> {{error_message.user_password_retype}}
	  <span class="dagon-alert-close-button" ng-click="error_message.user_password_retype = null"><i class="fa fa-times" aria-hidden="true"></i></span>
	</div>
</div>
