<div class="dagon-edit-user-container">
	<h2><i class="fa fa-user" aria-hidden="true"></i> User Manage</h2>
	<button type="button" class="btn btn-primary dagon-add-user"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add User</button>
	<table class="table table-striped">
		<thead ng-style="styles[style_pick]">
			<tr>
				<th>User Code</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Trading Name</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Johndadasdasddaasdadad dsfd sfsf</td>
				<td>Doe</td>
				<td>john@example.com</td>
				<td>Doe</td>
				<td>Doe</td>
				<td>
					<button type="button" class="btn btn-primary" ui-sref="/userdetails({UID: style_pick})" data-toggle="modal" data-target="#myModal">Details</button>
					<button type="button" class="btn btn-warning">Edit</button>
					<button type="button" class="btn btn-danger">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
