<div class="dagon-user-details-container row">
	<h2><i class="fa fa-user" aria-hidden="true"></i> User Details <button type="button" ng-show="edit" class="btn btn-primary dagon-save-button" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button></h2>
	<hr>
	<div class="col-sm-6 dagon-left-details">
		<table class="dagon-table-details">
			<tr>
				<td class="dagon-table-details-label"><b>Name</b> </td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">
					<font ng-show="!edit.name" ng-click="edit.name = 'true'" tooltip-placement="top" uib-tooltip="Click for edit">Iwan Kurnia</font>
					<input ng-show="edit.name" type="text" class="dagon-edit-details-field" id="usr" value="Iwan Kurnia">
				</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Email</b> </td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">
					<font tooltip-placement="top" uib-tooltip="You can't edit this value">kurniaiwan6@gmail.com</font>
				</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Phone</b></td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">
					<font ng-show="!edit.phone" ng-click="edit.phone = 'true'" tooltip-placement="top" uib-tooltip="Click for edit">081363318846</font>
					<input ng-show="edit.phone" type="text" class="dagon-edit-details-field" value="081363318846">
				</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Address</b></td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">
					<font ng-show="!edit.address" ng-click="edit.address = 'true'" tooltip-placement="top" uib-tooltip="Click for edit">Versa Technology, jalan ternate no. 10b/c, cideng, gambir, jakarta pusat, DKI Jakarta, Indonesia</font>
					<textarea ng-show="edit.address" rows="3" class="dagon-edit-details-field" cols="100">Versa Technology, jalan ternate no. 10b/c, cideng, gambir, jakarta pusat, DKI Jakarta, Indonesia</textarea>
				</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Last Login</b> </td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">
					<font tooltip-placement="top" uib-tooltip="You can't edit this value">11 Juni 2015</font>
				</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Last Order</b></td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">
					<font tooltip-placement="top" uib-tooltip="You can't edit this value">11 Juli 2017</font>
				</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Status</b> </td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">
					<font ng-show="!edit.status" ng-click="edit.status = 'true'" tooltip-placement="top" uib-tooltip="Click for edit">Active</font>
					<select ng-show="edit.status" class="dagon-edit-details-field-select" ng-model="user_details.status" ng-options="status for status in status_list"></select>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-6">
		<table class="dagon-table-details">
			<tr>
				<td class="dagon-table-details-label"><b>Price Sell Type</b> </td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">none</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>User Code</b> </td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">lalala</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Rank</b></td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">12</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Group</b> </td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">Rangers</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Program</b></td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">as it</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Trading Name</b></td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">Eyvan</td>
			</tr>
			<tr>
				<td class="dagon-table-details-label"><b>Non Deposit </b></td>
				<td class="dagon-table-details-double-dot">:</td>
				<td class="dagon-table-details-value">1.000.000</td>
			</tr>
		</table>
	</div>
</div>
